doctype html
html(lang="en")
  head
    title="Kilroy Web Development: Mobile and Web App Development"
  
    <!-- inject:css -->
    <!-- endinject -->
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="description" content="Programmer based in Barcelona! English/Spanish AngularJS, Ruby on Rails, Ionic. Websites, hybrid apps, e-commerce")
    meta(name="keywords" content="development, angularjs, javascript, apps, mobile, websites, programming, barcelona, freelance, ruby, rails, blog, internet, IoT")
    meta(name="author" content="metatags generator")
    meta(name="robots" content="index, follow")
    meta(name="revisit-after" content="3 days")
             
    meta(name="viewport" content="width=device-width, initial-scale=1")
  
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700") 
  body(ng-app="kDev")
    div(device-detector)
    div.headerui(ui-view="header")  
      
      
    <!-- inject:js -->
    <!-- endinject -->
    
