div.landing_title.container
  image.img-responsive.title_img(src="/assets/images/kilroygreen.jpg")
  p.text-center.lead Follow along as I navigate the treacherous waters of freelance coding and being in my twenties in Barcelona.
div.container
  div.col-xs-12.col-md-4
    div#about  
      h3.title.text-center About Me
      div
        h6.text-left Born in Cape Town, RSA
        h6.text-left University of Virginia, B.A.&S. History
        h6.text-left Ironhack Web Development Bootcamp
    div#twitter.hidden-xs.hidden-sm
      div.tl
        a(class="twitter-timeline" href="https://twitter.com/capeverne" data-widget-id="677456432011329536") Tweets by @capeverne
      script {{twitterScript}}
  
    div#favourites
      h3.title.text-center Favourites
      p The Internet is a truly wonderful place
      div.container-fluid
        div.fave(ng-repeat="fav in favourites" , ng-style="{'background-image': 'url({{fav.url}})'}", ng-click="openM(fav)")
  div.col-xs-12.col-md-8.container
    div.post.container-fluid(ng-repeat="post in posts", ng-style="{'border': '2px {{post.color}} solid'}")
      div.feed
        div.feed_box.text-center.
          Posted on {{post.created_at | date}}
        div.feed_box.text-center
          span.glyphicon.glyphicon-heart.fl(ng-click="likePost(post.id)")
          h4.fl {{post.likes}}
          
      image.post_img.img-responsive(src="{{post.main_img}}")
      a.post_title(ng-href="#/app/blog/{{post.id}}")
        h2.text-center.title {{post.title}}
      div.post_body
        p.raleway.post_quote.text-center.lead {{post.quote}}
        
      
script. 
  function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
