div.landing_title.container
  div#k.text-center K
  image.img-responsive.title_img(src="/assets/images/kdev.jpg")
  p.text-center.lead. 
    I am currently looking for a new project so please feel free to get in touch if you think I can help you in any way. </br>
    </br>
    If you happen to be in Barcelona I am more than happy to meet to discuss projects, app ideas or anything of interest over coffee (or beer!) 
div.contact.container
  div.container
    div.contact_item
      h3.text-center.title Email
      h5.text-center.lead kilroydevelopmentbcn@gmail.com
  
  div#linkedin
    script(src="//platform.linkedin.com/in.js" type="text/javascript")
    script(type="IN/MemberProfile" data-id="https://www.linkedin.com/in/warwick-beamish-0749b425" data-format="inline")  
