div.modal-header.modal_style(ng-click="close()")
    //- h1.post_title.text-center Kilroy's Faves
  image.modal_img.img-responsive(src="assets/images/kilroygreen.jpg")
div.modal-body.modal_style
    image.modal_img.img-responsive.piece_img(ng-src="{{currModal.url}}")
    
div.modal-footer.modal_style
  a.modal_link(ng-href="{{currModal.citation}}") 
    h4.modal_link__text Creator Website
  a.modal_link(ng-href="{{currModal.url}}") 
    h4.modal_link__text Original link


  
