div.landing_title.container
  image.img-responsive.title_img(src="/assets/images/kilroydevgreen.jpg")
  h3.text-center What can I do for you?
div.container-fluid
  
div.container-fluid
  div.col-xs-12.col-md-offset-1.col-md-5
    div#text 
      p.text-center {{introText.land_1}} 
      p.text-center {{introText.land_2}}
      p.text-center {{introText.land_3}} 
    div#need
      h4.text-left.title I need a...
      div.container
        a.need_card(ng-repeat="need in needsArray", ng-href="mailto:kilroydevelopmentbcn@gmail.com?subject={{need.mailto}}") {{need.text}}
  div.col-xs-12.col-sm-4.col-md-offset-1 
    div#skills
      h4.text-center.title Skills
      div.skill(ng-repeat="skill in skills")
        h5.text-left {{skill.name}}
        div.progress
          div.progress-bar.progress-bar-striped.active(role="progressbar" aria-valuenow="{{skill.value}}" aria-valuemin="0" aria-valuemax="100" style="width: {{skill.value + '%'}}")
div.container-fluid#projects
  h2.title.text-center Projects: Personal & Professional
  a.col-md-3.col-xs-12.project(ng-repeat="project in projectArray", ng-href="#/app/projects/{{project.id}}") 
    div
      image.img-responsive(src="{{project.pages[0].image}}")
    div.project_text
      h5.lead.text-left {{project.title}}
      p {{ project.snippet }}   
  div.col-xs-12.col-md-4
    
