div.container-fluid
  div.landing_title.container
    image.img-responsive.title_img(src="/assets/images/kilroydevgreen.jpg", ui-sref="app.kilroy")
    h4.landing_title__subitem.text-center Warwick Beamish: Web & Mobile Developer

      
  
      //- 
      //- div.landing_title.col-xs-12.col-lg-10.col-lg-offset-1(ng-style="mobilebuffer")
      //-   imageimg-responsive(src="/assets/images/site/phototitle.jpg")
      //-   div.card.subtitle_des 
      //-     p.text-center {{photoObj.description}}
