div.landing_title.container
  image.img-responsive.title_img(src="/assets/images/kilroydevgreen.jpg")

div.container
  div.col-lg-3.col-xs-12.container  
    div.page_card.title(ng-repeat="page in project.pages", ng-click="changePV(page.id)") {{page.title}}
  
  div.col-lg-9.col-xs-12.container
    div.project_main
      .image
        image.project_img.img-responsive(src="{{projectView}}")
      div.project_text
        h1.text-center {{ project.title }}
        p {{ project.text}}
      div.contact_item
        h3.text-center.title GitHub
        a(ng-href="{{project.github}}")
          h5.text-center.lead#email {{ project.title }} 
