@font-face {

@import url(https://fonts.googleapis.com/css?family=Raleway|Lobster);
}
body { padding-top: 70px; }
.landing_title {
  font-family: 'Lobster';
  padding: auto 5%;
}
.mainui{

}
.my_nav{
  border: 10px double #fff;
  color: #fff;
  background-color: #2EAD2E;
}
.my_nav__item {
  font-family: 'Lobster';
  color: #fff;
}
.landing_title__subitem {
  margin: 2%;
}
#enter {
  font-family: 'Raleway';
  text-decoration: underline;
}
#title{
  font-size: 8rem;

}
#k{
  font-family: 'Lobster';
  font-size:8rem;
  margin: 2rem;
  padding: 2%;

  // text-decoration: underline;
  // text-decoration-style: wavy;
  color: #2EAD2E;
  border: 10px double #2EAD2E;

  // width: 150px;
  // height: 200px;
}
.title_img{
  margin: 5% auto;
  border: 10px double #2EAD2E;
}
.icon-bar {
  border: 1px solid #fff;
}
.fl {
  float: left;
  width: 20%;
}
#enter {
  color: #2EAD2E;
  padding: 2%;
}
