#about{
  border: 2px solid #8E39E9;
  border-radius: 5%;
  font-family: 'Raleway';
  padding: 1%;
  margin: 2%;
}
.post {
  padding: 5%;
  margin: 2%;
  border: 2px solid;
  border-radius: 2%;

  // opacity: 0.2;
}
#twitter {
  border: 2px solid #2D85F0;
  border-radius: 10px;
  font-family: 'Raleway';
  padding: 1%;
  margin: 2%;
  // height: 650px;
}
.post_img {
  margin: 0 auto;
  opacity: 1;
}
.post_title {
  font-family: 'Lobster';
  color: #000;

}
.raleway {
  font-family: 'RaleWay';
}
#favourites {
  border: 2px solid #980505;
  border-radius: 5%;
  font-family: 'Raleway';
  padding: 1%;
  margin: 2%;
}
.fave {
  height: 80px;
  width: 80px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  margin: 1%;
}
.modal_img {
  margin: 0 auto;
}
.tl{
  margin: auto;
}
#input{
  background-color: #ehd654;
}
.modal_style {
  border: 2px solid #3FBF3F;
  border-radius:  5px;
}
.modal_link {
  width: 50%;
  float: left;
}
.modal_link__text {
  text-align: center;
  font-family: 'Lobster';
}
.feed_box {
  width: 50%;
  float:left;
}
